checkpoints
p2p
wandb
!stive/data
.log
test*
__pycache__
docs
attention_masks
trash
.log.txt
log.txt
.vscode
.exp
*_fz
*_tav
*_no_lora
*_no_concept
*_no_scam
*_no_tcam
*_alpha*
*_beta*
*_w0.*
*_w1.*
*_no_supvis
.targets