accelerate
bitsandbytes
datasets
diffusers==0.28.0
einops
imageio
numpy
omegaconf
opencv_python
pandas
peft==0.11.1
Pillow
PyYAML
torch==2.2.2+cu121
torchvision==0.17.2+cu121
tqdm
transformers==4.42.4
xformers==0.0.26
